body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ------------------------------ calculator css ------------------------------------   */

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  /*font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;*/
  /*font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;*/
  /*font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;*/
  /*font-family: 'Heiti SC', Droidsansfallback, "Microsoft YaHei", "STHeiti", SimHei, sans-serif;*/
  /*font-family: "Trebuchet MS", Verdana, sans-serif;*/
  font-weight: lighter;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 130px auto;
  grid-gap: 1px 1px;
  margin: 0 auto;
  width: 320px;
  height: 530px;
  background: #000;
}
.calculator-screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column: 1 / -1;
  padding: 20px;
  color: #fff;
  font-size: 4.5rem;
}

.calculator-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  cursor: pointer;
}
.calculator-function {
  background: #c4c5c7;
  color: #000;
}
.calculator-operator {
  background: #f97e0f;
  color: #fff;
}
.calculator-number {
  background: #cacbce;
  color: #000;
}
.calculator-zero {
  grid-column: 1 / 3;
}